<div class="container-fluid home-bg">
  <div class="row">
    <div class="col-md-12 center-block" style="margin-top: 10vh;">
      <img src="assets/logo.png" alt="" class="logo">
    </div>
    <div class="col-md-12">
      <div class="col-md-3">
        <a href="" class="btn btn-home"></a>
      </div>
    </div>
  </div>
</div>