<div class="container-fluid home-bg">
  <div class="row" style="margin-top: 25vh;">
    <div class="col-md-12 center-block">
      <img src="assets/logo.png" alt="" class="logo wow fadeInDown"> <!-- flipInX -->
    </div>
    <div class="col-md-12" style="margin-top: 10vh;">
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= welcome_index_path %>" class="btn btn-home">Photography</a>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= projects_path %>" class="btn btn-home">Portfolio</a>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= welcome_index_path %>" class="btn btn-home">About Me</a>
      </div>
      <div class="col-md-3 wow fadeInUp">
        <a href="<%= posts_path %>" class="btn btn-home">Blogs</a>
      </div>
    </div>
  </div>
</div>