<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-titles">My Showcase</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 center-block">
      <% @projects.each do |project| %>
        <div class="col-md-4 border">
          <h1 style="text-align:center;"><a href=""><%= link_to project.title, project %></a></h1>
          <p class="dates" style="text-align:center;"><%= project.created_at.strftime('%A, %B %d') %></p>
          <hr style="width: 10%;">
        </div>
      <%end%>
      <!-- <hr style="height: 100px; width: 2px;"> -->
    </div>
  </div>
</div>