<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-titles">MY PERSPECTIVE</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 center-block">
      <% @posts.each do |post| %>
        <div class="col-md-12 border">
          <h1 style="text-align:center;"><a href=""><%= link_to post.title, post %></a></h1>
          <p class="dates" style="text-align:center;"><%= post.created_at.strftime('%A, %B %d') %></p>
          <hr style="width: 10%;">
        </div>
      <%end%>
      <!-- <hr style="height: 100px; width: 2px;"> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="text-align: center; padding-top: 50px;">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>