$dark: #424652;
$white: #fff;
$light: #9a9da4;
$highlight: #2A88E0;
$border: #E9E9E9;

.fa-padding{
  padding-right: 25%;
  padding-top: 5%;
}

.page-titles{
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 0 0 3% 0;
}

// .border{
//   border-right: 1px solid $highlight;
// }


.project_button{
  background: $highlight;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.project_button:hover{
  background: $highlight;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.admin-links{
  text-align: center;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 1em 0;
}



