$dark: #171717;
$white: #fff;
$light: #9a9da4;
$blue: #009FFF;
$border: #E9E9E9;



.fa-padding{
  padding-right: 25%;
  padding-top: 5%;
}

.page-titles{
  // text-align: center;
  border-bottom: 1px solid $border;
  padding:8% 0 10% 0;
}

.title{
  font-size: 80px;
}

// .perspective-p{
//   font-size: 30px;
// }

.blog-name{
  color: #000;
  text-decoration: none;
}

.blog-name:hover{
  color: $blue;
  transition: color .4s ease-in;
  text-decoration: none;
}
// .border{
//   border-right: 1px solid $highlight;
// }

.blog-title{
  padding-top: 5%;
}

.project_button{
  background: $blue;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.project_button:hover{
  background: $blue;
  color: $white;
  text-decoration: none;
  padding: 1em 2em;
}

.admin-links{
  text-align: center;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 1em 0;
}



