@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'animate';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$dark: #171717;
$white: #fff;
$light: #9a9da4;
$blue: #009FFF;
$border: #E9E9E9;


body{
  font-family: 'Raleway', sans-serif;
}



footer{
  border-top: 1px solid $border;
}

h1, h2, h3, h4, h5, h6, ul, li{
  color: #000;
}
p{
  color: #000;
}

hr{
  border: 2px solid $blue;
  width: 25%;
}

.welcome-links{
  color: $white;
}

.welcome-links:hover{
  color: $blue;
  text-decoration: none;
}

.welcome-links:hover{
  transition: color .6s ease-in-out;
}



footer p{
  color: $white;
}.fa{
  color: $blue;
}

//

//Pagination
.pagination{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > .active > a{
  background-color: $blue;
}

.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.text-area-h{
  min-height: 200px;
}

.footer-container{
  margin-top: 2%;
}

// Post#show



//ALL Forms


.form-control{
  background: none;
  border: none;
  box-shadow: 0 0px 10px 3px white;
  border-radius: 0px;
  color: $white;
}
label{
  color: $white;
}




//Email Contact Form

  .form-control:focus{
    border-color: $blue;
    box-shadow: 0 0px 10px 3px $blue;
  }

  .sendbtn{
    background: $blue;
    border: none;
    color: $white;
  }

  .btn{
    border-radius: 0;
  }

  .sendbtn:hover{
    background: $white;
    border: 1px solid $blue;
    color: $blue;
  }


//Login Form

.loginbtn{
  background: $blue;
  color: $white;
}



@import 'welcome';
@import 'posts_projects';
@import 'pygments';
@import 'nav';