@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$dark: #424652;
$white: #fff;
$light: #9a9da4;
$highlight: #2A88E0;
$border: #E9E9E9;


body{
  font-family: 'Raleway', sans-serif;
}

footer{
  border-top: 1px solid $border;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
  color: $dark;
}

hr{
  border: 2px solid $highlight;
  width: 25%;
}
a {
  text-decoration: none;
  color: $dark;
  &:hover {
    color: $highlight;
  }
}

.fa{
  font-size: 20px;
  padding-right: 20px;
}

.dates {
    font-size: .85em;
    margin-bottom: 2em;
    color: $light;
  }
.welcome-container{
  padding-top: 5%;
  padding-bottom: 5%;
}

.navbar{
  min-height: 150px;
  background-color: $white;
  border-bottom: 1px solid $border;
  .container-fluid{
    padding-top: 3%;
    padding-left: 5%;
    .navbar-brand{
      border: 1px solid $border;
      font-family: 'Raleway 700', sans-serif;
      letter-spacing: 3px;
      color: $dark;
      font-size: 13px;
    }
  }
}


.center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.text-area-h{
  min-height: 200px;
}

.footer-container{
  margin-top: 2%;
}



//Email Contact Form
.form-control{
  border-radius: 0px;
  }

  .form-control:focus{
    border-color: $highlight;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $highlight;
  }

  .sendbtn{
    background: $highlight;
    border: none;
    color: $white;
  }

  .btn{
    border-radius: 0;
  }

  .sendbtn:hover{
    background: $white;
    border: 1px solid $highlight;
    color: $highlight;
  }


//Login Form

.loginbtn{
  background: $highlight;
  color: $white;
}



@import 'welcome';
@import 'posts_projects';
@import 'pygments';