@media (max-width: 800px){
  nav.navbar .container .navbar-brand.second-nav-brand{
    margin-left: 20px;
  }
  nav.navbar .container .navbar-brand{
    margin-left: 20px;
  }
  .title{
    font-size: 50px;
  }
  .perspective-p{
    font-size: 30px;
  }
  .per-pro-padding{
    padding-top: 30px;
  }
  .footer-links{
    color: $dark;
    float: left;
    padding-right: 8%;
  }
}


@media (max-width: 650px){
  .footer-links{
    color: $dark;
    float: left;
    padding-right: 5%;
  }
}